$base-white: #f3f3f3;
$popover-bg: $base-white;
$popover-fallback-border-color: darken($base-white, 10%);
$popover-border-color: darken($base-white, 10%);
$popover-arrow-outer-fallback-color: darken($base-white, 10%);
$popover-arrow-color: darken($base-white, 10%);
$popover-arrow-outer-color: darken($base-white, 10%);
